/* 全局样式表 */
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 870px;
}

.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 12px;
}

.el-cascader-panel {
  height: 200px;
}

.el-card {
  box-shadow: 0 1px 1xp rgba(0, 0, 0, 0.2) !important;
}

.el-table {
  margin-top: 15px;
  font-size: 12px;
}

.el-pagination {
  margin-top: 15px;
}

.el-steps {
  margin: 15px 0;
}

.el-step__title {
  font-size: 13px;
}

.el-step__head.is-success {
  color: rgb(64, 158, 255);
  border-color: rgb(64, 158, 255);
}

.el-step__title.is-success {
  color: rgb(64, 158, 255);
}


/* 去除input type为number时的上下加减按钮 */
/* 谷歌 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none; 
    margin: 0; 
}
/* 火狐 */
input{
    -moz-appearance:textfield;
}

.ql-editor {
  min-height: 300px;
}